@charset "UTF-8";

@keyframes rotation {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../assets/fundo-madeira.jpg);
    background: black url(../assets/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
    position: relative;
    height: 90vh;
}
header {
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, 128, 0, 0.2), rgba(255, 0, 0, 0.484));
    color: white;
    height: 80px;
    min-height: 150px;
    padding-top: 20px;
}

header > p {
    max-width: 400px;
    font-size: 1.2em;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

nav {
    text-align: left;
    padding: 121px 0px 10px 0px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
}

nav > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

nav > a:hover {
    color: black;
    background-color: lightcoral;
    transition-duration: 1s;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

header h1{
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

section {
    display: flex;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(255, 138, 230, 0.5);
    margin: 40px;
    padding: 20px;
    padding-top: 80px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(255, 0, 0);
    gap: 20px 20px;
}

.galeria#video {
    background-color: rgba(0, 0, 255, 0.5);
    box-shadow: 2px 2px 5px rgb(208, 255, 0);
}

.galeria#mapa {
    background-color: rgba(255, 106, 0, 0.5);
    box-shadow: 2px 2px 5px rgb(105, 236, 196);
}

.galeria#mapa iframe {
    animation: rotation 20s linear infinite;
    border-radius: 50%;
}

div {
    margin-top: 90px;
    width: 50vw;
    height: 300px;
    padding: 10px;
    border-radius: 15px;
    border: 2px dashed black;
    box-shadow: 5px 5px rgba(255, 0, 0, 0.365);
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

div#div1 {
    background-color: cyan;
    margin-right: 30px;
    margin-left: 15px;
}

div#div2 {
    background-color: greenyellow;
    margin-right: 15px;

}

p {
    padding-bottom: 20px;
    text-align: justify;
    text-indent: 25px;
}

img {
    display: block;
    margin: auto;
}

img:hover {
    animation-name: rotation;
    animation-duration: .2s;
}

h2 {
    position: absolute;
    margin-top: -50px;
    font-size: 30px;
}

iframe {
    display: block;
    margin: auto;
}

dt::before {
    content: "💩";
    margin-right: 10px;
    font-size: 60px;
}

iframe {
    margin: 20px;
}

dd {
    margin-left: 20px;
}

dd::before {
    content:"💀";
    margin-right: 10px;
}
table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;

}

td, th {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
}

th {
    background-color: aqua;
}
td {
    background-color: lightpink;
}