@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../assets/fundo-madeira.jpg);
    background: black url(../assets/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
    position: relative;
    height: 90vh;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

h1#mainTitle {
    position: absolute;
    background-color: rgba(240, 248, 255, 0.422);
    border-radius: 20px;
    padding: 5px 0px;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

main {
    display: flex;
}

div {
    margin-top: 90px;

    width: 50vw;
    padding: 10px;
    border-radius: 15px;
    border: 2px dashed black;
    box-shadow: 5px 5px rgba(255, 0, 0, 0.365);
}

div#div1 {
    background-color: cyan;
    margin-right: 30px;
    margin-left: 15px;
}

div#div2 {
    background-color: greenyellow;
    margin-right: 15px;

}

p {
    padding-bottom: 20px;
    text-align: justify;
    text-indent: 25px;
}