* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    background-color: #add8e6;
    align-content: center;
}

section {
    width: 450px;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 30px;
}

form a {
    text-decoration: none;
}

form #icheck {
    cursor: pointer;
}

#isubmitDiv {
    margin-top: 20px;
    margin-bottom: -20px;
}