body{
    background: #9f9ba2;
    font: normal 15px Arial;
    color: #000000
}

header{
    text-align: center;
}

section{
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(54, 54, 54, 0.623);
}

div{
    text-align: center;
    padding: 8px;

}

img#imagem{
    width: 200px;
}

footer{
    text-align: center;
    font-style: italic;
}
